*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;      /* 1rem = 10px */
    
}

body
{
    margin: 0rem;
    padding: 0rem 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

body .section-1 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 144rem;
}

body .section-1 h1
{
    font-size: 5rem;
    color: #F46628;
    margin: 10rem 0rem 0rem 0rem;
    border-top: 0.5rem solid #F46628;
    border-bottom: 0.5rem solid #F46628;
}

body .section-1 img
{
    margin: 10rem 10rem 0rem 10rem;
    width: 100% - 20rem;
    border-radius: 6.3rem;
}

body .section-1 p
{
    margin: 10rem 10rem 0rem 10rem;
    font-size: 2.4rem;
    color: #F46628;
    text-align: center;
}

body .section-1 a
{
    color: #F46628;
    text-decoration: none;
    font-size: 3.2rem;
    margin: 10rem;
    border-top: 0.3rem solid #F46628;
    border-bottom: 0.3rem solid #F46628;
    padding: 0.5rem;
}